APPENV="dev"
[app]
port=8600
httpAddr="4040"
grpcAddr="5050"
storage="database"

[database]
host="localhost"
port=5432
user="postgres"
password="1036829"
database="dev"
[database.params]
sslmode="disable"

[logger]
format="json" # [json | logfmt]
level="info" #  [trace |debug | info | warn | error | fatal | panic]
no_color=false
full_timestamp=true

[telemetry]
address="8080"